<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Redefinição de Senha</title>
</head>
<body>
<h2>Olá, <span th:text="${username}"></span>!</h2>
<p>Recebemos uma solicitação para redefinir a sua senha na plataforma Gym Explore.</p>
<p>Por favor, clique no link abaixo para criar uma nova senha. Este link é válido por 1 hora.</p>
<p>
    <a th:href="${resetLink}">Redefinir Minha Senha</a>
</p>
<p>Se você não solicitou esta redefinição, pode ignorar este e-mail com segurança.</p>
<p>Atenciosamente,<br><strong>Equipa Gym Explore</strong></p>
</body>
</html>